@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Coustard:900);
* {
  font-family: 'Roboto', sans-serif;
}

br {
  display: none;
}

body {
  background-color: #3d4348;
  color: #c0c1c4;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button {
  background-color: transparent;
  color: #fff;
  height: 30px;
  font-size: 16px;
  text-shadow: none;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  margin-top: 15px;
}

#results {
  background-color: #f9f9fb;
  position: relative;
  top: 40px;
  text-align: left;
}

.result_holder {
  position: absolute;
  align-items: center;
}

.link {
  padding: 20px 10px;
  font-size: 18px;
  height: 100%;
  color: black;
}

.link:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

#search {
  display: block;
}

#copy_paste {
  display: none;
}

.button,
.button-active {
  width: 35%;
  margin-bottom: 25px;
}

.active {
  background-color: white;
  color: black;
}

.active:hover {
  cursor: default;
}

.intro {
  margin-bottom: 20px;
  color: white;
}

.intro h1 {
  font-size: 32px;
  margin: 10px 0;
}

.intro h2 {
  font-size: 24px;
  margin: 10px 0;
}

.episodes {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  vertical-align: top;
  width: 47%;
}

.numbers {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 47%;
}

#stuff {
  margin-top: 90px;
  text-align: center;
}

.input_holder {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.season {
  display: inline-block;
  width: 200px;
  margin-top: 50px;
  vertical-align: top;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
}

.season-num {
  margin-bottom: 10px;
  text-decoration: underline;
}

#top {
  text-align: right;
  font-size: 13.4px;
}

.credits a {
  color: white;
}

#middle {
  margin-top: 30px;
  text-align: center;
  min-height: 500px;
}

.movie_number {
  font-size: 34px;
  color: white;
}

input {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding-left: 5px;
}

input:focus {
  outline: none;
}

.select-box {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  display: block;
  resize: none;
  border: none;
  height: 15px;
  overflow: hidden;
}

.select-box:focus {
  outline: none;
}

.episode-box {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  display: block;
  resize: none;
  border: none;
  height: 19.1px;
  overflow: hidden;
}

.boxie {
  display: block;
}

.num-boxie {
  display: block;
}
